{% extends 'base.html' %}
{% block content %}

        <div class="body">
            <!--headings-->
            <h1>Your Profile</h1>
            <!--end headings-->

            <!--profile details container TODO-->
            <div class="note-container">
                <h2>
                    {{ user.get_full_name }}
                    <img src="{{ user.image_url }}" alt="image_url" />
                </h2>
                <p>Age: {{ user.age }}</p>
                <div>
                    <p>All notes: {{ notes_count }}</p>
                </div>

                <div>
                    <form method="POST" action="{% url 'profile page' %}">
                        {% csrf_token %}
                        {{ form }}
                    <input type="submit" value="Delete" />
                    </form>
                </div>
            </div>
            <!--end profile details container-->
        </div>

{% endblock %}
